/* Fix blue label on rosterForLoop*/
.lunatic-component.outerContainer-RosterForLoop label {
  font-size: 10pt;
  color: #000;
  font-family: "Open Sans", sans-serif;
  line-height: 16px;
}

.lunatic-loop {
  border: 1px solid #0d3970;
  background: #e4f0fc;
}

.lunatic-loop .loop-component:first-of-type {
  margin-top: 0;
}

.lunatic-loop .loop-component:nth-of-type(n + 2) {
  margin: 8px 15px;
  background: white;
  padding: 10px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
