/* Fix blue label on rosterForLoop*/
.lunatic-component.outerContainer-RosterForLoop label {
  font-size: 10pt;
  color: #000;
  font-family: "Open Sans", sans-serif;
  line-height: 16px;
}

.lunatic-loop {
  border: 1px solid #0d3970;
  background: #e4f0fc;
}

.lunatic-loop .loop-component:first-of-type {
  margin-top: 0;
}

.lunatic-loop .loop-component:nth-of-type(1n + 1) {
  margin: 8px 15px;
  background: white;
}
